.signupconsumatore {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
}
.uploadProfileImage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: normal;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    -webkit-box-shadow: 5px 8px 30px -10px rgba(189,182,185,1);
-moz-box-shadow: 5px 8px 30px -10px rgba(189,182,185,1);
box-shadow: 5px 8px 30px -10px rgba(189,182,185,1);
cursor: crosshair;

}
.uploadpictext {
    text-align: center;
    color: rgb(145, 145, 145);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1vh;
}